<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<pluginGroups>
	</pluginGroups>

	<proxies>
	</proxies>

	<servers>
	</servers>

	<mirrors>
		<mirror>
			<id>nexus-aliyun</id>
			<mirrorOf>*,!jeecg,!jeecg-snapshots,!mapr-releases</mirrorOf>
			<name>Nexus aliyun</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public</url>
		</mirror>

		<mirror>
			<id>mapr-public</id>
			<mirrorOf>mapr-releases</mirrorOf>
			<name>mapr-releases</name>
			<url>https://maven.aliyun.com/repository/mapr-public</url>
		</mirror>

	</mirrors>

	<profiles>
	</profiles>

</settings>
